* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#colections {
  padding: 50px 0;
  text-align: start;
  .colections {
    h2 {
      font-weight: 700;
      font-size: 40px;
      padding: 20px 0;
    }
    .colects {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 25px;
      .info-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .colect_images {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .right_images {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
          }
        }
        h3 {
          font-weight: 600;
          font-size: 25px;
          line-height: 100%;
        }
      }
      .info-2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .colect_images {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .right_images {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
          }
        }
        h3 {
          font-weight: 600;
          font-size: 25px;
          line-height: 100%;
        }
      }
      .info-3 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .colect_images {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .right_images {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 8px;
          }
        }
        h3 {
          font-weight: 600;
          font-size: 25px;
        }
      }
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  h4 {
    font-weight: 500;
    font-size: 16px;
    span {
      font-weight: 500;
      font-size: 16px;
      color: gray;
    }
  }
}

#start {
  padding: 80px 0;
  background: #f6f7f8b1;
}

.start-info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 110px;
  position: absolute;
  top: 120px;
  left: 130px;

  p {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 18%;
    position: absolute;
    bottom: 100px;
  }
  h2 {
    font-weight: 600;
    font-size: 40px;
    color: white;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    button {
      width: 140px;
      height: 50px;
      border: none;
      border-radius: 7px;
      background: #3772ff;
      color: white;
      cursor: pointer;
    }
  }
}

.start {
  position: relative;
}
